*.xcconfig
.DS_Store
*.xcuserstate
xcuserdata/
DerivedData/
build/
node_modules
*.env
MyRoomFE/MyRoomFE.xcodeproj/project.xcworkspace/xcuserdata/jhshin.xcuserdatad/UserInterfaceState.xcuserstate
MyRoomFE/MyRoomFE.xcodeproj/xcuserdata/jhshin.xcuserdatad/xcschemes/xcschememanagement.plist
MyRoomBE/migrations/
MyRoomBE/.env
